*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }

.card-deck{
    width: 1100px;
    margin: auto;
}
.card-img-top{
    padding: 30px;
    width: 400 px;
    height: 350px;
}
.card-body{
    padding: 10px;
}
.container{
    width: 10%;
}
.btn-btn-info{
    background-color: blue;
}
.parrafo{
    width: 95%;
    text-align: left;
}
.login-form-font-header{
    width: 100px;
    margin: 20px;
}

